* {
    box-sizing: border-box; margin: 0px;
}

a {
    text-decoration: none;
    color: black;
}

aside {
    display: flex;
    flex-direction: row;    
}

.main {
    display: flex;
    flex-direction: row;
    padding: 12px 0px;
}

.aside__menu {
    padding: 50px 24px;
    border-right: 1px solid lightgrey
}

.books__menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 0;
}

.books div {
    display: block;
    padding: 50px 100px;
}

.books div span {
    display: block;
    text-align: center;
}

.books div button {
    display: block;
    margin: auto auto;
    align-items: center;
    justify-content: center;
}

.book__search {
    display: flex;
    justify-content: center;
    align-items: center;
}

.aside__menu {
    list-style-type: none;
    height: 100%;
    overflow: auto;
    font-size: 18px;
  }