<link rel="stylesheet" href="../../static/css/write_doc_css.css">
<link rel="stylesheet" href="../static/css/basic.css">
{% extends "base.html" %}
{% block section %}
 
    <section>
        <h1 style="text-align: center;">글 작성</h1>
        <hr>
        <input class="input" type="button" value="목록으로" onclick="location.href='/community/board_home'">
        <br>
        <p>작성자 ID : xxxxx </p>
        <div>
          <p>제목 : </p>
          <input type="text" value=""> 
        </div>
        <br>
        <textarea name="article" rows="30">write somthing</textarea> 
        <br>
        <div class="div">
          <p>파일첨부 :</p><input type="file" value="file" onclick="">
          <input class="input" type="button" value="등록" onclick="">
        </div>
    </section>
    {% endblock %}
