<link rel="stylesheet" href="../static/css/books.css">
<script type="text/javascript" src="../static/js/books.js"></script>
{% extends "base.html" %}
{% block section %}
 
      <section class="main">
        <aside>
          <ul class="aside__menu">
            {{ tag | safe }}
          </ul>
        </aside>
        <section class="books">
          <section class="books__menu">
            {{ content | safe }}
          </section>
          <section class="book__search">
            <form action="/books" method="get">
              <select name="search">
                <option value="">제목</option>
              </select>
              <input type="text" name="title">
              <button type="submit">검색</button>
            </form>
          </section>
        </section>
      </section>
{% endblock %}