{% extends "base.html" %}
{% block section %}
<!-- 홈페이지 소개화면 -->
<link rel="stylesheet" href="../static/css/intro.css">
<h1 class="title">Coding House 소개 </h1>

<img src="image/" alt="community" class="intro text1">
<p class="sub_title1">수강생들의 자유로운 대화방</p>
<br>
<p class="sub_title2">컴퓨터 도서를 빌릴 수 있는 무인도서관</p>
<img src="image/" alt="Books" class="intro text2">
<br>
<img src="image/" alt="Recommendation" class="intro text1">
<p class="sub_title1">관심분야에 대한 도서추천</p>
<br>
<p class="sub_title2">수강생들의 정보와 대출정보를 볼 수 있는 게시판</p>
<img src="image/" alt="Master Page" class="intro text2">
<br>

<p class="intro_bottom">"코딩하우스는 자바(JAVA) 스프링 응용 SW 개발자<br>수강생의 공간입니다."</p>
{% endblock %}