<link rel="stylesheet" href="../static/css/membercss.css">
{% extends "base.html" %}
{% block section %}
    <section>
        <div class="title" style="margin-right:30px;">
            <h1 class="signup">회원정보 수정</h1>
        </div>
    </section>
    <article>
        <form action="/member_info" method="post">
        {{ content | safe }}
            <div class="box3">
                <div><input type="submit" id="confirm" value="확인"  onclick="location.href='/member_info'"></div>
                <div><input type="button"  id="canceal" value="취소"  onclick="location.href='/'"></div>
            </div>
        </form>
    </article>
{% endblock %}